**Another way to create a DataFrame**

In [ ]:
import pandas as pd
frame = pd.DataFrame([[8.96, 1884], [7.87, 1149], [7.13, 428]],
                    index = ["Copper", "Iron", "Zinc"],
                    columns = ["Density g/cm3", "Melting Point BC"])
                    
print(frame)

In [1]:
import pandas as pd

In [ ]:
print(frame.loc[["Copper"]])

**Working with Larger Data Sets**

In [2]:
data = pd.read_csv("ign.csv")

In [3]:
#shows number of rows and columns
data.shape

(18625, 11)

In [ ]:
#first and last 5 rows
data

In [4]:
data.head()

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012,9,12
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012,9,12
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012,9,12
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012,9,11
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012,9,11

In [ ]:
data.tail(3)

In [ ]:
#retrieve series objects
data["platform"]

In [ ]:
type(data)

In [ ]:
data["score"].mean()

In [ ]:
#each column with numerical value
data.mean()

In [ ]:
data["score"] / 2

In [ ]:
data["score"] * 10

In [ ]:
#boolean indexing
myfilter = data["score"] > 8

myfilter.head(15)

In [ ]:
#boolean indexing - creating filters
highscore = data[myfilter]

highscore.head()
#Return the first 5 high scores

In [ ]:
#multiple filters
top_ipad_filter = (data["score"] > 8) & (data["platform"] == "iPad")
filter = data[top_ipad_filter] 
filter.head(3)

## Data Visualisation

In [ ]:
# Setting up the dataset
from sklearn.datasets import load_iris

data = load_iris()
df   = pd.DataFrame(data['data'], columns=data['feature_names'])

df['species'] = data['target']

df.head()

### Line Plot

In [ ]:
df.plot()

### Scatter Plot

In [ ]:
df.plot.scatter(x='sepal length (cm)', y='sepal width (cm)')

In [ ]:
df.plot.scatter(x='sepal length (cm)', y='petal length (cm)')

### Area Plot

In [ ]:
columns = ['sepal length (cm)', 'petal length (cm)', 'petal width (cm)', 'sepal width (cm)']
df[columns].plot.area()

### Bar Chart

In [ ]:
df.groupby('species').mean().plot.bar()

### Pie Chart

In [ ]:
df.groupby('species').count().plot.pie(y='sepal length (cm)')

### Histogram

In [ ]:
df.hist(figsize = (5,9))

### Kernel Density Function

In [ ]:
df.plot.kde(subplots=True, figsize=(5,9))

### Box Plot

In [ ]:
columns = ['sepal length (cm)', 'petal length (cm)', 'petal width (cm)', 'sepal width (cm)']
df[columns].plot.box()
#plt.xticks(rotation='vertical') # required to work: import matplotlib as plt

In [ ]:
from pandas.plotting import scatter_matrix

scatter_matrix(df, figsize=(10, 10))